<h1>Schedule Appointment</h1>

<form method="POST" action="/schedule">
    CAID: <input name="caid" required><br><br>
    Patient IID: <input name="iid" required><br><br>
    Staff ID: <input name="staff" required><br><br>
    Department ID: <input name="dep" required><br><br>
    Date (YYYY-MM-DD): <input name="date" required><br><br>
    Time (HH:MM:SS): <input name="time" required><br><br>
    Reason: <input name="reason" required><br><br>

    <button type="submit">Create Appointment</button>
</form>
